{
	"title": "Example",
	"theme": "basis",
	"menu": {
		"nodes": [
			{
				"label": "Home",
				"url": "/",
				"class": "nav-link",
				"liclass": "nav-item"
			},
			{
				"label": "Example",
				"url": "/example",
				"class": "nav-link",
				"liclass": "nav-item"
			}
		],
		"class": "navbar-nav mr-auto"
	}
}